html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  height: 100%;
}

nav .logo,
img {
  width: 42px;
  height: 42px;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
  margin-right: 15px;
}

nav ul li:hover {
  color: #1f0b03;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #b83b09;
}

.spaceships {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.spaceships .spacecard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}

.spaceships .spacecard img {
  width: 250px;
  height: 200px;
}

.spaceships .card-desc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 18px;
}

.spaceships .card-desc li {
  list-style: none;
  padding-left: 18px;
}

.spaceships .card-desc li .fa:active {
  color: #b83b09;
}

.spaceships .spacecard .card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-buttons button {
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.card-buttons #btn-comment {
  background: #b83b09;
}

.card-buttons #btn-comment:hover {
  background: #13bcda;
}

.card-buttons #btn-reservation {
  background-color: #13bcda;
}

.card-buttons #btn-reservation:hover {
  background: #bb3e0d;
}

footer {
  text-align: center;
  padding: 20px;
}
